body {
    font-family: Akira;
    background-color: rgb(0, 0, 0);
    margin: 0px;
}

.header-panel {
    background-color: #bd0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-panel .title {
    align-items: center;
    padding-left: 50px;
    font-size: 50px;
    /* padding-top: 0px; */
}

.header-panel h1 {
    margin-bottom: 15px;
    margin-top: 20px;
}


.header-panel .btn {
    background-color: #910a0a;
    font-family: Akira;
    color: white;
    
    margin-right: 40px;
    padding: 25px 20px 25px 20px ;

    border: 0px;
    border-radius: 10%;

}

.header-panel a {
    text-decoration: none;
    color: white;
}

.header-panel .btn:hover {
    color: black;
    background-color: #fb8601;
}

.loginform {
    color: white;
    margin-top: 10%;
    margin-left: 10%;
}

.btnlogin {
    font-family: akira;
    color: #ffffff;
    background-color: #910a0a;
    border: 0px;
    border-radius: 10%;
    font-size: large;
    padding: 1%;
}

.btnlogin:hover {
    background-color: #fb8601;
    color: black;
}

.ranking {
    width: 90%;
    margin-top: 40px;
    
}

.tables {
    display: flex;
    justify-content: space-between;
    gap: 2%; 
    padding-left: 20px;
}

.table-container {
    flex: 1;
}

.table-container-red {
    margin-left: 5%;
}


.table-container-orange {
    width: 55%;
}

.title {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img.title-logo-red {
    width: 25%; 
    margin-right: 10px; /* Ajuste o espaço conforme necessário */
}

.title img.title-logo-orange {
    width: 50%;
    /* max-width: 40%; */
}

.title.red {
    background-color: #bd0b0b;
    height: 200px;
    font-size: larger;
}

.title.orange {
    background-color: #fb8601;
    height: 200px;
}

.table {
    padding: 10px;
}

.table.red {
    background-color: #f8d7da;
}

.table.orange {
    background-color: #fff3cd;
    /* width: 50%; */
}

.table .row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    height: 110px;
    max-height: 110px;
}

.table .row .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.table .row .details {
    flex: 1;
    padding: 0 20px;
}

.table .row .details p{
    flex: 1;
    padding: 0 20px;
    font-family: Gotham-Bold;
}

.table .row .stars, .table .row .recommendations {
    display: flex;
    gap: 3%;
}

.table .row .recommendations {
    justify-content: center;
    width: 100%;
    margin-top: 30px; /* Ajuste conforme necessário */
    margin-bottom: 30px; /* Ajuste conforme necessário */
}

.table .row .star {
    width: 40px;
    height: 40px;
    background: gray;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.table .row .star.filled {
    background: gold;
}


@font-face {
    font-family: 'Akira';
    src: url('/fonts/AkiraExpanded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('/fonts/gotham/Gotham-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('/fonts/gotham/Gotham-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('/fonts/gotham/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}